.flagSelector {
  max-width: 40px;
}

.phoneInput {
  max-width: calc(100% - 40px);
}

.defaultCountry {
  background: url("https://res.cloudinary.com/dvbuhh0bl/image/upload/c_scale,h_15,w_15/v1495279723/default_tmey2r.png") no-repeat;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.country-name {
  margin-left: 6px;
}

.dial-code {
  color: #999;
}

.phoneWrapper {
  width: 180px;
  display: inline-block;
  position: relative;
  text-align: left;
}
