<div class='phoneWrapper'>
    <mat-form-field class='flagSelector'>
        <mat-label>
            <span class="flag flag-{{selectedCountry.countryCode}}" *ngIf="selectedCountry"></span>
            <span class="defaultCountry" *ngIf="!selectedCountry"></span>
        </mat-label>
        <mat-select>
            <mat-option *ngFor="let country of countries | country: countryFilter"
                        (click)="updateSelectedCountry($event, country.countryCode)">
                <span [class]="'flag flag-' + country.countryCode"></span>
                <span class="country-name">
                    {{ country.name }}
                    <span class="dial-code">+ {{ country.dialCode}}</span>
                </span>
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput [formControl]="formContol" [attr.maxlength]="maxlength" [(ngModel)]="phoneNumber"
               (ngModelChange)="updatePhoneNumber($event)" [placeholder]="placeholder" [type]="type"
               #phoneNumberInput>
        <mat-error *ngIf="formContol.hasError('required')">
            {{errorTextRequired}}
        </mat-error>
    </mat-form-field>
</div>
